body{
    font-size: 22px;
    background-color: #fcfbfb;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

header{
    background-color: rgba(20, 30, 13, .7);
}

.logo{
    width: 80px;
}

#logo-link{
    padding-top: 5px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

#hero-img{
    width: 100%;
}

nav a{
    color: rgb(255, 144, 144);
    text-align: center;
    text-decoration: none; 
    padding: 35px;
}

nav a:hover{
    background-color: black;
    color: #d9c2a3;
}

.home-title{
    font-family: "Brush Script MT", cursive;
    font-size: 2em;
    color: rgb(141, 77, 77);
    margin-top: 10px;
}

h4{
    color: rgb(141, 77, 77);
}

.book, .join{
    font-size: 18px;
    background-color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: white;
}

#hero-msg h1, #hero-msg h4{
    text-align: center; 
}

.button-box{
    text-align: center; 
}

main section{
    text-align: center; 
}

.icon{
    width: 80px;
    padding-top: 10px;

}

#background {
    height: 725px;
    background-color: rgba(175, 93, 93, 0.648);
}

.card-img{
    border: 10px solid black;
}

.rivers-card,   .camping-card, .rapids-card{
    margin: 200px 0;
}

.msg{
    line-height: 1.5em;
    background-color: rgba(20, 30, 13, .7);
    padding: 35px;
}

.msg h2{
    font-family: "Brush Script MT", cursive;
    padding: 5px;
    font-size: 2em;
    color: white;
}

.msg p {
    font-size: .8em;
    color: white;
    padding-bottom: 15px;
}

footer{
    background-color: rgba(20, 30, 13, .7);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

footer .social img{
    padding-top: 15px;
}

footer a:hover{
    color: black;
}

footer p a:hover{
    text-decoration: underline;
}