body{
    margin: 0;
    background-color: darkgray;
}

.banner{
    width: 100%;
}

div.bar{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
}

img.circle{
    width: 25%;
    border-radius: 50%;
    display: inline-block;
    border: 1.2em solid black;
    margin: 2% auto;
}